{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="{% url 'mainapp:main_page' %}">
            <img src="{% static 'img/main_logo.png' %}" alt="" width="30" height="30">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Счета</a>
                <a class="nav-link disabled" href="#">Бюджет</a>
                <a class="nav-link disabled" href="#" >Календарь</a>
                <a class="nav-link disabled">Цели</a>
                <a class="nav-link disabled">Отчёты</a>
            </div>
        </div>
    </div>
</nav>