{% extends 'mainapp/base.html' %}
{% load static %}

{% block title %}
    Money - {{ title }}
{% endblock title %}

{% block content %}
    {% include 'accountapp/includes/inc_account_menu.html' %}
    {% block account_content %}
        <div class="row h-100">
            <div class="col-2 border-end text-center">
                <button data-bs-toggle="modal" data-bs-target="#accountCreateModal" type="button" class="btn btn-outline-info btn-sm mt-5">Создать счёт
                </button>
            </div>
            <div class="col-7 border-end">
                {% include 'accountapp/includes/inc_accounts.html' %}
            </div>
            <div class="col-3"></div>
        </div>
        <div class="modal fade" tabindex="-1" role="dialog" id="modal">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">

                </div>
            </div>
        </div>
    {% endblock account_content %}
    {% include 'accountapp/create_account_modal.html' %}
{% endblock content %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'js/script.js' %}"></script>
{% endblock js %}